/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --accent-color: #000;
  --accent-font: "PressStart2P";
  --main-font: "Inter-Variable";
  --wght: 400;
  --wgth-a: 700;
  --themes-background: #fff;
  --back-image: url(../images/background.png);
  --gradient: repeating-linear-gradient(
      to left,
      #d3d3d3,
      rgb(255 255 255 / 0) 2px
    ),
    repeating-linear-gradient(to top, #d3d3d3, rgb(255 255 255 / 0) 2px),
    linear-gradient(to bottom, #e7e7e7 0, #1a1a1a 100%);
  --themes-main-color: #000;
  fill: #000;
}
